<styles>
head
{
}


body	
{
	background-color : #00FF0050;
	color : #806F00;
	text-align : center;
	position :  center;
	border : dotted;
	width : 300px;
}

ul
{
	margin :  auto;
	border : dotted;
	width : 100px;
}
img.fl_png
{
	width : 100px;
	height : 120px; 
}


</styles>
